<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Books Repository</title>
</head>
<body>

    <h2>Insert New<h2>
    <form action="/show" method="POST">
        <input type="text" placeholder="Title" name="title">
        <input type="text" placeholder="Author" name="author">
	<input type="text" placeholder="Genre" name="genre">
        <button type="submit">Submit</button>
    </form> 

    <h2>Records<h2>
        <table border="1">
            <thead>
                <tr>
                    <td>Title</td>
                    <td>Author</td>
            <td>Genre</td>
                </tr>
            </thead>
            <tbody>
            <% books.forEach(function(details) { %>
                <tr>
                    <td><%= details.title %></td>
                    <td><%= details.author %></td>
            <td><%= details.genre %></td>
            <td><a href="/edit/<%= details._id %>">Edit</a> | <a href="/delete/<%= details._id %>">Delete</a></td>
                </tr>
                <% }) %>
            </tbody>
            <button><a href="/">Insert New</a></button>

            <h2>Edit</h2>
  <% books.forEach(function(details) { %>
    <form action="/edit/<%= details._id %>" method="POST">
      <input type="text" value="<%= details.title %>" name="title">
      <input type="text" value="<%= details.author %>" name="author">
      <input type="text" value="<%= details.genre %>" name="genre">
      <br />
      <button><a href="/show">List All</a></button>
      <button type="submit">Edit</button>
    </form>
  <% }) %>

</body>
</html>